*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
.task{
    width: 100%;
    min-height: 100vh;
    background-image: url(https://cdn.wallpaperhub.app/cloudcache/c/3/b/e/9/e/c3be9e6e8950054edbfb0369725453fd55362150.jpg);
    background-size: cover;
    padding: 10px;
}
.To-Do{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.To-Do h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.To-Do h2 img{
    width: 50px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 18px 55px;
    background: #ff5945;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 15px 10px 15px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: ' ';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(https://icons.veryicon.com/png/o/miscellaneous/wens/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 10px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://c8.alamy.com/comp/2ABNAN7/green-check-mark-icon-in-a-circle-tick-symbol-in-green-color-2ABNAN7.jpg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #f90505;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}